@font-face {
	font-family: 'drawic';
src:url('../fonts/drawic.eot');
src:url('../fonts/drawic.eot') format('embedded-opentype'),
	    url('../fonts/drawic.woff') format('woff'),
	    url('../fonts/drawic.ttf') format('truetype'),
	    url('../fonts/drawic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.drawic {
	font-family: 'drawic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

       /* Better Font Rendering =========== */
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
}

.drawic-email:before {
	font-size: 55px;
content: "\e60f";
}
.drawic-facebook:before {
	font-size: 55px;
content: "\e610";
}
.drawic-instagram:before {
	font-size: 55px;
content: "\e620";
}
.drawic-twitter:before {
	font-size: 55px;
content: "\e637";
}

.top-bar-left li{
display: inline-block;
}

#home-first-parallax {
	text-align: left;
	background-image: url('../images/bus-with-mountains-lrg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
height: 600px;
	padding-top: 75px;
}

#home-first-parallax .header{
	width: 200px;
	background-color: #CAEBF2;
}

#home-first-parallax .subheader{
	float: left;
	margin-left: 2rem;
}

#home-first-parallax .subheader .inside{
width: 400px;
position: relative;
	  background-color: rgba(239, 239, 239, 0.6);
}
#home-second-parallax {
	text-align: center;
	background-image: url('../images/second-lrg.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
height: 400px;
}
.full-width{
	max-width: 100% !important;
}

.top-1x {
	margin-top: 1rem;
}
.bottom-1x {
	margin-bottom: 1em;
}

.top-2x {
	margin-top: 2rem;
}
.bottom-2x {
	margin-bottom: 2em;
}
.top-3x {
	margin-top: 3rem;
}
.bottom-3x {
	margin-bottom: 3em;
}

.text-center {
	text-align: center;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-bar {
height: 75px;
	z-index: 100;
}
.top-bar .top-bar-right {
height: 100%;
}
.top-bar .top-bar-right li {
display: inline-block;
color: #fff;
height: 100%;
}
.top-bar .top-bar-right ul {
height: 100%;
	margin-right: 2rem;
}

.top-bar .top-bar-left  h2{
	margin-left: 2rem;
}

.top-bar .top-bar-right li :hover{
color: #fff;
       background-color: #286DA8;
transition: background-color 0.8s ease;
}

.top-bar .top-bar-right li a{
height: 100%;
display: flex;
	 align-items: center;
padding: 0 5px;
}

.block-region {
	background-color: #EFEFEF;
}

.top-bar {
color: #A9A9A9;
       background-color: #EFEFEF;
position: fixed;
transition: height 0.5s ease;
}
.top-bar a {
color: #A9A9A9;
}

.prices .listing{
	text-align: center;
}


.listing ul {
	list-style: none;
	margin-left: 0;
}

.listing ul {

}


.prices button {
color: #A9A9A9;
       background-color: #CAEBF2;
}

.prices button :hover {
color: #A9A9A9;
       background-color: #286DA8;
}

p {
	font-family: 'Cabin Condensed';
	font-style: normal;
	font-weight: 600;
}
.logo{
	font-family: 'Kaushan Script';
	font-style: normal;
	font-weight: normal;
color: #FF3B3f;
       font-size: 3rem;
}
.smaller .logo {
	font-size: 2rem;
    transition: font 0.5s ease;	
}

.smaller{
height: 50px;
transition: height 0.5s ease;
}

.contact-info h3 {
	text-align: center;
}
.contact-info li {
	list-style: none;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Cabin Condensed';
	font-style: normal;
	font-weight: 600;
}
.placeholder{
content: url('../images/placeholder.png');
height: 200px;
width: 200px;
margin: auto;
}
.region-highlighted {
margin-top: 5rem;
margin-bottom: 0;
}
